<div class="row g-3">
  <div class="col-auto">
    <button routerLink="item" class="btn btn-success" type="button"><i class="bi bi-plus-circle"></i>
      Novo Item
    </button>
  </div>
  <div class="col-auto">
    <button routerLink="pedido" class="btn btn-success" type="button"><i class="bi bi-plus-circle"></i>
      Novo Pedido
    </button>
  </div>
  <a>Valor total dos pedidos: {{ data.valorTotalPedidos | currency:'BRL':true }}</a>
  <a>Valor total dos descontos concedidos: {{ data.valorTotalDescontos | currency:'BRL':true }}</a>
  <div style="height: 300px">
    <app-doughnut-chart
    ></app-doughnut-chart>
  </div>
</div>
