<div class="edit-form" >
  <div class="alert alert-danger alert-dismissible fade show" role="alert" [hidden]="!mensagem">
    {{ mensagem }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <h4>
    @if (current.id) {
      Editando
    } @else {
      Criando
    }
    Item do Pedido</h4>
  <form class="row g-3">
    <div class="col-md-4">
      <label for="item" class="form-label">Item</label>
      <select class="form-select" aria-label="Item" [(ngModel)]="current.item && current.item.id" id="item" [ngModelOptions]="{standalone: true}"
               [disabled]="!!current.item" #i (change)="current.item = {id:i.value}">
        <option *ngFor="let item of itens" [value]="item.id">
          {{ item.descricao }}
        </option>
        <option [value]="current.item.id" *ngIf="current.item" selected>
          {{ current.item.descricao }}
        </option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="pedido" class="form-label">Pedido</label>
      <select class="form-select" aria-label="Item" [(ngModel)]="current.pedido && current.pedido.id" id="pedido" [ngModelOptions]="{standalone: true}" disabled>
        <option [value]="current.pedido.id" *ngIf="current.pedido" selected>
          {{ current.pedido.descricao }}
        </option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="quantidade" class="form-label">Quantidade</label>
      <input type="number" class="form-control" id="quantidade" [(ngModel)]="current.quantidade" name="quantidade">
    </div>
    <div class="col-md-2">
      <label for="valor" class="form-label">Valor</label>
      <input type="number" class="form-control" id="valor" [(ngModel)]="current.valor" name="valor">
    </div>
    <div class="modal-footer">
      @if (current.id) {
        <div class="col-auto">
          <button class="btn btn-danger" (click)="delete()">
            <i class="bi bi-trash"></i>Excluir
          </button>
        </div>
        <div class="col-auto">
          <button
                  type="submit"
                  class="btn btn-success"
                  (click)="update()">
            <i class="bi bi-floppy"></i>
            Salvar
          </button>
        </div>
      } @else {
        <div class="col-auto">
          <button
                  type="submit"
                  class="btn btn-success"
                  (click)="create()">
            Criar
          </button>
        </div>
      }
    </div>
  </form>
</div>
